In [1]:
# Importing Libraries
import  pandas as pd
import numpy as ny
import os

In [3]:
# Creating a file path
path = r'/Users/samarjitgehdu/Documents/Achievement 6/Gun Violence'

In [5]:
path

'/Users/samarjitgehdu/Documents/Achievement 6/Gun Violence'

In [7]:
# Importing the gun violence file
df = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'Gun_Violence_Data(2013-2018).csv'))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 29 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   incident_id                  239677 non-null  int64
 1   date                         239677 non-null  object
 2   state                        239677 non-null  object
 3   city_or_county               239677 non-null  object
 4   address                      223180 non-null  object
 5   n_killed                     239677 non-null  int64
 6   n_injured                    239677 non-null  int64
 7   incident_url                 239677 non-null  object
 8   source_url                   239209 non-null  object
 9   incident_url_fields_missing  239677 non-null  bool
 10  congressional_district       227733 non-null  float64
 11  gun_stolen                   140179 non-null  object
 12  gun_type                     140226 non-null  object
 13  incident_characteristics     239351 non-null  object
 14  latitude                     231754 non-null  float64
 15  location_description         42089 non-null   object
 16  longitude                    231754 non-null  float64
 17  n_guns_involved              140226 non-null  float64
 18  notes                        158660 non-null  object
 19  participant_age              147379 non-null  object
 20  participant_age_group        197558 non-null  object
 21  participant_gender           203315 non-null  object
 22  participant_name             117424 non-null  object
 23  participant_relationship     15774 non-null   object
 24  participant_status           212051 non-null  object
 25  participant_type             214814 non-null  object
 26  sources                      239068 non-null  object
 27  state_house_district         200905 non-null  float64
 28  state_senate_district        207342 non-null  float64
dtypes: bool(1), float64(6), int64(3), object(19)
memory usage: 51.4+ MB

In [11]:
df.describe()

,incident_id,n_killed,n_injured,congressional_district,latitude,longitude,n_guns_involved,state_house_district,state_senate_district
count,2.396770e+05,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000,140226.000000,200905.000000,207342.00000
mean,5.593343e+05,0.252290,0.494007,8.001265,37.546598,-89.338348,1.372442,55.447132,20.47711
std,2.931287e+05,0.521779,0.729952,8.480835,5.130763,14.359546,4.678202,42.048117,14.20456
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-171.429000,1.000000,1.000000,1.00000
25%,3.085450e+05,0.000000,0.000000,2.000000,33.903400,-94.158725,1.000000,21.000000,9.00000
50%,5.435870e+05,0.000000,0.000000,5.000000,38.570600,-86.249600,1.000000,47.000000,19.00000
75%,8.172280e+05,0.000000,1.000000,10.000000,41.437375,-80.048625,1.000000,84.000000,30.00000
max,1.083472e+06,50.000000,53.000000,53.000000,71.336800,97.433100,400.000000,901.000000,94.00000

In [13]:
# Verifying any missing values
missing = df.isnull().sum()

In [15]:
missing

incident_id                         0
date                                0
state                               0
city_or_county                      0
address                         16497
n_killed                            0
n_injured                           0
incident_url                        0
source_url                        468
incident_url_fields_missing         0
congressional_district          11944
gun_stolen                      99498
gun_type                        99451
incident_characteristics          326
latitude                         7923
location_description           197588
longitude                        7923
n_guns_involved                 99451
notes                           81017
participant_age                 92298
participant_age_group           42119
participant_gender              36362
participant_name               122253
participant_relationship       223903
participant_status              27626
participant_type                24863
sources                           609
state_house_district            38772
state_senate_district           32335
dtype: int64

In [17]:
# Dropping columns where missing value count is above 10,000 entries
Cleaned_df = df.drop(columns = ['participant_relationship', 'location_description', 'participant_name'])

In [23]:
# Fill missing values for categorical data with "Unknown"
categorical_fill = ['gun_stolen', 'gun_type', 'participant_age_group', 'participant_gender']
for col in categorical_fill:
    Cleaned_df[col] = Cleaned_df[col].fillna('Unknown')

In [27]:
# Fill missing numerical data with the median
numerical_fill = ['latitude', 'longitude', 'n_guns_involved']
for col in numerical_fill:
    Cleaned_df[col] = Cleaned_df[col].fillna(Cleaned_df[col].median())

In [29]:
# Verify the imputation
Cleaned_df.isnull().sum()

incident_id                        0
date                               0
state                              0
city_or_county                     0
address                        16497
n_killed                           0
n_injured                          0
incident_url                       0
source_url                       468
incident_url_fields_missing        0
congressional_district         11944
gun_stolen                         0
gun_type                           0
incident_characteristics         326
latitude                           0
longitude                          0
n_guns_involved                    0
notes                          81017
participant_age                92298
participant_age_group              0
participant_gender                 0
participant_status             27626
participant_type               24863
sources                          609
state_house_district           38772
state_senate_district          32335
dtype: int64

In [31]:
Cleaned_df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,n_guns_involved,notes,participant_age,participant_age_group,participant_gender,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,1.0,Julian Sims under investigation: Four Shot and...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,1.0,Four Shot; One Killed; Unidentified shooter in...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,2.0,NaN,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,1.0,NaN,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,2.0,Two firearms recovered. (Attempted) murder sui...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [33]:
# Convert the 'date' column to datetime format
Cleaned_df['date'] = pd.to_datetime(Cleaned_df['date'])

In [35]:
# Verify the results
Cleaned_df['date'].head()

0   2013-01-01
1   2013-01-01
2   2013-01-01
3   2013-01-05
4   2013-01-07
Name: date, dtype: datetime64[ns]

This step changed the datatype for the date column from object to datetime format

In [38]:
# Fill text columns with "Unknown"
text_columns = ['address', 'source_url', 'incident_characteristics', 'notes', 'participant_status', 'participant_type']
for col in text_columns:
    Cleaned_df[col] = Cleaned_df[col].fillna('Unknown')

In [40]:
# Fill numerical columns with -1 as a placeholder
numerical_columns = ['congressional_district', 'state_house_district', 'state_senate_district']
for col in numerical_columns:
    Cleaned_df[col] = Cleaned_df[col].fillna(-1)

In [42]:
# Verify the imputation
Cleaned_df.isnull().sum()

incident_id                        0
date                               0
state                              0
city_or_county                     0
address                            0
n_killed                           0
n_injured                          0
incident_url                       0
source_url                         0
incident_url_fields_missing        0
congressional_district             0
gun_stolen                         0
gun_type                           0
incident_characteristics           0
latitude                           0
longitude                          0
n_guns_involved                    0
notes                              0
participant_age                92298
participant_age_group              0
participant_gender                 0
participant_status                 0
participant_type                   0
sources                          609
state_house_district               0
state_senate_district              0
dtype: int64

In [44]:
# Drop the 'participant_age' column(as the age entered is not in a simple numerical format)
Cleaned_df = Cleaned_df.drop(columns=['participant_age'])

In [46]:
# Fill missing values in 'sources' with 'Unknown'
Cleaned_df['sources'] = Cleaned_df['sources'].fillna('Unknown')

In [48]:
# Verify if any missing values are left.
Cleaned_df.isnull().sum()

incident_id                    0
date                           0
state                          0
city_or_county                 0
address                        0
n_killed                       0
n_injured                      0
incident_url                   0
source_url                     0
incident_url_fields_missing    0
congressional_district         0
gun_stolen                     0
gun_type                       0
incident_characteristics       0
latitude                       0
longitude                      0
n_guns_involved                0
notes                          0
participant_age_group          0
participant_gender             0
participant_status             0
participant_type               0
sources                        0
state_house_district           0
state_senate_district          0
dtype: int64

In [50]:
# The final set of columns
Cleaned_df.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude', 'longitude',
       'n_guns_involved', 'notes', 'participant_age_group',
       'participant_gender', 'participant_status', 'participant_type',
       'sources', 'state_house_district', 'state_senate_district'],
      dtype='object')

In [52]:
Cleaned_df.shape

(239677, 25)

In [54]:
# Export the cleaned dataframe
Cleaned_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Gun_Violence_Clean_Data(2013-2018).csv'))